@charset "UTF-8";

/* http://paletton.com/#uid=12F0u0kmFp+3iQJeOw7t0k3K1bH */

body {
    background: #1C5100;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: Futura, sans-serif;
    color: #E4F4DB;
}
h1, h2, h3, p {
    padding-left: 10px;
}
h1, h2 {
    border-style: solid;
    border-width: 5px;
    border-color: #9BDE77;
    padding-top: 5px;
    padding-bottom: 3px;
}
.center {
    background: #E4F4DB;
    color: #398B0D;
}
article {
    padding-bottom: 10px;
    margin-bottom: 20px;
}
img {
    display: block;
    width: 200px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
aside {
    position: fixed;
    margin-left: -230px;
    float: left;
    padding: 0 10px 40px;
    background: #398B0D;
}
